[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/raj77in/wallpapers
[submodule "kali-setup"]
	path = kali-setup
	url = https://github.com/raj77in/kali-setup
[submodule "/home/amitag/amitag/git/peda"]
	path = /home/amitag/amitag/git/peda
	url = https://github.com/longld/peda
